footer {
  background-color: $secondary-background;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  font-size: small;
  line-height: 1.3em;

  div {
    text-align: center;
  }

  a {
    border-bottom: 1px solid #67c9ff;
  }
}
