.home-root {
  margin-top: $below-header;
  margin-bottom: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
}

.landing-page-card {
  @extend %center-children;
  height: calc((100vh - 250px) / 3);
  min-height: 120px;
  width: 100%;
  background-color: $secondary-background;
  text-decoration: none;
  font-size: 24px;
  transition: .2s;
}

.landing-page-card:hover {
  transition: .2s;
  background-color: $secondary-foreground;
  color: $secondary-background;
}

.nav-title:focus {
  outline: none;
}

.home-tile-paragraph {
  display: none;
}

.home-tile {
  margin-bottom: 30px;
}
