.home-root {
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
  display: flex;
  flex-flow: wrap;
  min-height: calc(100vh - 80px);

  .home-tile:last-child {
    margin-right: 0;
  }
}

section {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.landing-page-card {
  height: calc((100vh - 300px) / 3);
  min-height: 200px;
  max-height: 200px;
  background-color: $barely-transparant-background;

  .home-tile-paragraph {
    display: none;
    padding: 30px;
  }
}

.mobile-only-content {
  display: none !important;
}

.landing-page-card:hover {

  div {
    transition: .2s;
    display: none;
  }

  .home-tile-paragraph {
    display: block;
    width: 100%;

    strong {
      padding-top: 20px;
      display: block;
    }
  }
}

.home-tile {
  display: flex;
  // margin-top: $tablet-gutter;
  margin-bottom: 0;
  width: calc(50% - 15px);
  margin-right: 30px;

  a {

    p {
      font-size: 16px;
    }
  }
}

.full-width-tile {
  width: 100%;
  
  .landing-page-card {
    min-height: 400px;

    div {
      justify-content: center;
      width: 33%;
    }

    .tablet-plus-content {
      display: flex;
    }
  }

  .landing-page-card:hover {
    
    div {
      display: none;
    } 
  }
}

.landing-paragraph {
  width: 50%;

  p {
    padding-left: $mobile-gutter;
    padding-top: $mobile-gutter;
    padding-bottom: $mobile-gutter;
  }
}

.align-right {
  a {
    position: relative;
    left: 50%;
  }

  .landing-paragraph {
    position: relative;
    right: 50%;

    p {
      padding-left: 0;
      padding-right: $mobile-gutter;
    }
  }
}

.home-hero-image {
  @include hero-image("https://firebasestorage.googleapis.com/v0/b/tokucinema.appspot.com/o/images%2FLegendary-Godzilla-1.jpg?alt=media&token=7acef0f6-e497-4cd7-a837-d42ab73ee195", center left, blur(2px) sepia(1));
}

.home-tile-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
