<div *ngIf="this.movie" class="movie-card" [routerLink]="['/movies', movie.Path]">
  <div class="movie-card-content">
    <div>
      <h3>{{movie.OfficialTitle}}</h3>
      <p *ngIf="movie.AlternateTitles && movie.AlternateTitles.length">{{movie.AlternateTitles[0]}}</p>
      <p>{{movie.ReleaseYear}}</p>
      <p>{{movie.ProductionCompany}}</p>
      <p>{{movie.CountryOfOrigin}}</p>
    </div>
  </div>
  <img class="media-card-image" [src]="movie.OriginalPoster" alt="{{movie.OfficialTitle}} Title poster">
</div>