<div class="medias-root">
  <div class="medias-header">
    <h2>Media</h2>
    <div class="nav-search normal-z">
      <input class="text-input" [(ngModel)]="searchTerm" type="text" placeholder="Search">
    </div>
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
  </div>
  <div class="medias-results">
    <app-media-card
      *ngFor="let media of medias"
      [media]="media">
    </app-media-card>
  </div>
</div>