<div class="not-found-root">
  <div class="not-found-card">
    <h2>404</h2>
    <h3>Page Not Found</h3>
    <p>Try using one of the below tools to find what you're looking for:</p>
    <div class="not-found-tool-options">
      <a href="#" [routerLink]="['/movies']">
        <div class="tool-link-wrapper">
          <div>Movie List</div>
          <div class="tool-link-icon">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293h-704q-52 0-84.5-37.5t-32.5-90.5v-128q0-53 32.5-90.5t84.5-37.5h704l-293-294q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"/>
            </svg>
          </div>
        </div>
      </a>
      <a href="#" [routerLink]="['/media']">
        <div class="tool-link-wrapper">
          <div>Home Media Releases</div>
          <div class="tool-link-icon">
            <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <path d="M1600 960q0 54-37 91l-651 651q-39 37-91 37-51 0-90-37l-75-75q-38-38-38-91t38-91l293-293h-704q-52 0-84.5-37.5t-32.5-90.5v-128q0-53 32.5-90.5t84.5-37.5h704l-293-294q-38-36-38-90t38-90l75-75q38-38 90-38 53 0 91 38l651 651q37 35 37 90z"/>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--Background-->
<div class="not-found-hero-image"></div>