<div class="about-root">
  <div class="about-section">
    <h2>About</h2>
    <p>Welcome to Toku Cinema, a website dedicated to tokusatsu (a Japanese term meaning “special effects”) cinema and television, as well as media influenced by tokusatsu, and media that provided influence to the tokusatsu genre.</p>

    <p>Toku Cinema specifically focuses on the nuanced differences in international versions of tokusatsu productions, what versions of these productions have been available on home media throughout the years, and the quality of those home media presentations.</p>
  </div>
  <hr>
  <div class="about-section">
    <h2>Developers</h2>
    <div class="dev-card-wrapper" *ngIf="this.developers">
      <app-dev-card
        class="dev-card"
        *ngFor="let developer of this.developers"
        [developer]="developer">
      </app-dev-card>
    </div>
  </div>
</div>
