<div *ngIf="this.media" class="media-card" [routerLink]="['/media', media.Path]"  [style.background-image]="'url(' + media.BoxArt + ')'">
  <div class="media-card-content">
    <div>
      <h3>{{media.Title}}</h3>
      <div *ngIf="media.ReleaseDate then thenBlock_ReleaseDate_Date else elseBlock_ReleaseDate_Date"></div>
            <ng-template #thenBlock_ReleaseDate_Date>
              <p><strong>Release Date:</strong> {{media.ReleaseDate | date:'MMMM d, yyyy'}}</p>
            </ng-template>
            <ng-template #elseBlock_ReleaseDate_Date>
              <p><strong>Release Date:</strong> {{media.CircaRelease}}</p>
            </ng-template>
      <p><strong>Distributor:</strong> {{media.Distributor}}</p>
      <p>{{media.Medium}}</p>
    </div>
  </div>
</div>