@import '../../globals.scss';

.movies-root {
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  margin-top: $mobile-gutter + 80px;
  margin-bottom: $mobile-gutter;
}

.movies-header {
  text-align: center;
}
