@import '../../sassisms.scss';;

.movies-root {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
  margin-top: $tablet-gutter + 80px;
  margin-bottom: $tablet-gutter;
}

.movies-header {
  text-align: center;
}

.movies-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.movies-results-series {
  width: 100%;

  h2 {
    margin-bottom: 0;
  }

}

.series-cards-wrapper {
  display: flex;
  flex-flow: wrap;

}