<div class="movies-root">
  <div class="movies-header">
    <h2>Movie List</h2>
    <div class="detail-search normal-z">
      <input class="text-input" [(ngModel)]="searchTerm" type="text" placeholder="Filter by title">
    </div>

<!--Filters-->
    <div [ngClass]="{'hide-filters' : this.showFilters === 'Show filters +'}" class="filter-section">
      <div class="filter-option">
        <select id="spoken-language-select" [(ngModel)]="this.spokenLanguageFilter">
          <option value="">Choose a language</option>
          <option *ngFor="let language of languages" [value]="language">{{language}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="distributor-select" [(ngModel)]="this.distributorFilter">
          <option value="">Choose a studio</option>
          <option *ngFor="let distributor of distributors" [value]="distributor">{{distributor}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="director-select" [(ngModel)]="this.directorFilter">
          <option value="">Choose a director</option>
          <option *ngFor="let director of directors" [value]="director">{{director}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="series-select" [(ngModel)]="this.seriesFilter">
          <option value="">Choose a series</option>
          <option *ngFor="let seriesItem of series" [value]="seriesItem">{{seriesItem}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="era-select" [(ngModel)]="this.eraFilter">
          <option value="">Choose an era</option>
          <option *ngFor="let era of eras" [value]="era">{{era}}</option>
        </select>
      </div>
      <!--<div class="filter-option">
        <select id="production-company-select" [(ngModel)]="this.productionCompanyFilter">
          <option value="">Choose a production company</option>
          <option *ngFor="let productionCompany of productionCompanies" [value]="productionCompany">{{productionCompany}}</option>
        </select>
      </div>-->
      <div class="filter-option clear-button">
        <input type="button" value="Clear Filters" (click)="clearFilters()">
      </div>
    </div>
  </div>

  <a class="toggle-filters" (click)="this.toggleShowFilters()">{{this.showFilters}}</a>

<app-movies-search-results
  [spokenLanguageFilter]="this.spokenLanguageFilter"
  [movieItems]="this.movieItems"
  [searchTerm]="this.searchTerm"
  [distributor]="this.distributorFilter"
  [director]="this.directorFilter"
  [series]="this.seriesFilter"
  [era]="this.eraFilter"
  [productionCompany]="this.productionCompanyFilter">
</app-movies-search-results>
</div>