<div class="movies-root">
  <div class="movies-header">
    <h2>Movies</h2>
    <div class="nav-search normal-z">
      <input class="text-input" [(ngModel)]="searchTerm" type="text" placeholder="Search">
    </div>
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
    <input type="checkbox" name="" value="">
  </div>
  <div class="movies-results">
    <app-movie-card
      *ngFor="let movie of movieItems"
      [movie]="movie">
    </app-movie-card>
  </div>
</div>