// Movies and Media list pages
.filter-section {
  display: flex;
  flex-flow: wrap;

  .filter-option {
    width: 33%;
    margin-right: .5%;
  }

  .filter-option:nth-child(3n) {
    margin-right: 0;
  }

  .filter-option:nth-child(1n + 4) {
    margin-top: $mobile-gutter;
  }
}

.clear-button {
  width: 33%;
}


.medias-results {

  app-media-card {
    width: calc(50% - 10px);
  }

  app-media-card:nth-child(odd) {
    margin-right: 20px;
  }
}
