@import 'sassisms';

// Base
body {
  margin: 0;
  background-color: $primary-background;
  color: $primary-foreground;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;

  &:link, &:visited, &:hover, &:active {
    color: $primary-foreground;
  }
}

input, select {
    background-color: $tertiary-background;
    outline: none;
    border: none;
    color: $primary-foreground;
}

select {
  height: 40px;
  font-size: 16px;  
}

// Important Overrides
.normal-z {
  z-index: 0 !important;
}

.display-none {
  display: none;
}

.half-container-width {
  width: 50%;

  &.centered {
    margin: 0 auto;
  }
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: $mobile-gutter;
  width: 100%;

  @media ($viewport-tablet) {
    padding: $tablet-gutter;
  }

  @media ($viewport-tablet) {
    padding: $tablet-gutter;
  }
}
