// Variables
$mobile-gutter: 20px;
$tablet-gutter: 40px;
$desktop-gutter: calc((100% - 940px) / 2);
$desktop-width: 940px;
$below-header: $mobile-gutter + 80px;

  // Colors
$primary-background: #181818;
$secondary-background: #222;
$tertiary-background: #363636;

$primary-foreground: #efefef;
$secondary-foreground: #cccccc;
$tertiary-foreground: #999999;

$primary-accent: #f22929;
$secondary-accent: #00a810;

$modal-background: rgba(33,34,34,.96);

// Placeholders
%svg-icon {
  height: auto;
  width: 30px;
}

%center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

%mobile-frame {
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  margin-top: $below-header;  
}

%tablet-frame {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
  margin-bottom: $tablet-gutter;
  margin-top: $tablet-gutter + 80px;
}

%desktop-frame {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
}

// Base
body {
  margin: 0;
  background-color: $primary-background;
  color: $primary-foreground;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  
  &:link, &:visited, &:hover, &:active {
    color: $primary-foreground;
  }
}

input, select {
    background-color: $tertiary-background;
    outline: none;
    border: none;
    color: $primary-foreground;
}

select {
  height: 40px;
}

// Important Overrides
.normal-z {
  z-index: 0 !important;
}

.display-none {
  display: none;
}