// Root
main {
  min-height: $header-content-footer;
  margin-top: $below-header;
  margin-bottom: $mobile-gutter;
}

// Movies and Media list pages
.detail-search {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0;
  z-index: 2;
  height: 40px;
  border: solid 1px black;

  input {
    height: 100%;
    width: 100%;
    font-size: 24px;
  }
}

.toggle-filters {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: $primary-foreground;
  display: flex;
  justify-content: center;

  div {
    font-size: 20px;
    display: flex;
    align-items: center;
    color: $primary-background;
    height: 100%;
  }
}

.filter-section {
  margin-top: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  width: 100%;
  position: fixed;
  top: 60px;
  height: 100vh;
  left: 0;
  background-color: $modal-background;

  .filter-option {
    margin-left: $mobile-gutter;
    margin-right: $mobile-gutter;
    margin-top: 20px;

    select {
      width: 100%;
    }
  }
}

.hide-filters {
  display: none;
}

.clear-button {
  height: 40px;

  input {
    height: 100%;
    width: 100%;
  }
}
