<div *ngIf="this.movie" class="media-card" [routerLink]="['/movies', movie.Path]">
  <img src="{{movie.OriginalPoster[0]}}" />
  <div class="movie-card-content">
    <div>
      <h3>{{movie.OfficialTitle}}</h3>
      
      <div *ngIf="movie.ReleaseDate then thenBlock_ReleaseDate_Date else elseBlock_ReleaseDate_Date"></div>
            <ng-template #thenBlock_ReleaseDate_Date>
              <p><strong>Release Date:</strong> {{movie.ReleaseDate | date:'MMMM d, yyyy'}}</p>
            </ng-template>
            <ng-template #elseBlock_ReleaseDate_Date>
              <p><strong>Release Date:</strong> {{movie.CircaRelease}}</p>
            </ng-template>
      <p><strong>Production Company:</strong> {{movie.ProductionCompany}}</p>
      <p><strong>Director:</strong> {{movie.Director}}</p>
    </div>
  </div>
</div>