@import '../../globals.scss';

.media-details-root {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
}

.media-information {
  position: absolute;
  right: $desktop-gutter;
  top: $below-header + 80px;
  display: flex;
}

.media-poster {
  display: block;
}