@import '../../globals.scss';

.media-details-root {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
}

.media-information {
  display: inline-block;
}

.media-information div{
  display: inline-block;
}

.media-poster {
  display: inline-block;
  margin-right: 50px;
}

.media-information-parent div {
  vertical-align: top;
}

.left-information {
  width: 300px;
}

.right-information {
  width: 300px;
}

.left-information div{
  display: inline;
}

.right-information div{
  display: inline;
}

.media-review {
  margin-top: 25px;
}