@import '../../globals.scss';

$mobile-gutter: 40px;

.media-details-root {
  margin-top: $below-header;
  margin-bottom: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
}

.media-details-title h3 {
  margin-left: 15px;
}

.media-information {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.media-information div {
  justify-content: center;
}

.media-poster {
  display: flex;
  width: 100%;
  justify-content: center;
}

.media-poster img {
  width: 200px;
  height: 280px;
  margin-bottom: 15px;
}

.media-review-img{
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
}