@import '../../globals.scss';

.media-details-root {
  margin-bottom: $tablet-gutter;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.media-information {
  display: flex;
  justify-content: center;
}

.media-information div {
  width: 300px;
}

.left-information {
  margin-right: 30px;
}

.media-review {
  margin-top: 75px;
}