@import '../../sassisms.scss';;

.media-details-root {
  margin-bottom: $tablet-gutter;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.media-information {
  display: flex;
  justify-content: center;
}

.media-poster {
  width: auto;
}

.left-information {
  margin-right: 30px;
}

.right-information {
  width: auto;
}

.left-information {
  width: auto;
}