@import '../../globals.scss';

.nav-hamburger-menu {
  left: $desktop-gutter;
}

.nav-search-icon {
  right: $desktop-gutter;
}

.expanded-menu {

  ul {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }
}