@import '../../sassisms.scss';;

.nav-hamburger-menu {
  left: $desktop-gutter;
}

.nav-search-icon {
  right: $desktop-gutter;
}

.expanded-menu {

  .nav-menu-wrapper:first-child {
    margin-left: $desktop-gutter;
  }

  .nav-menu-wrapper:last-child {
    margin-right: $desktop-gutter;
  }

  ul {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }
}

.nav-search {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
  width: $desktop-width;
}