@import '../../globals.scss';

.nav-root {
  @extend %center-children;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  height: 80px;
  z-index: 10;
}

.nav-hamburger-menu {
  position: absolute;
  left: $mobile-gutter;

  svg {
    @extend %svg-icon;
  }
}

.nav-title {

  h1 {
    margin: 0;
  }
}

.nav-search-icon {
  position: absolute;
  right: $mobile-gutter;

  svg {
    @extend %svg-icon;
  }
}


.nav-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(29.8%, 33.7%, 36.9%, 0.8);
}

.expanded-menu {
  top: 80px;
  background-color: darkgray;
  width: 100%;
  position: fixed;

  ul {
    padding: 0;
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
  }

}

.nav-menu-wrapper {
  @extend %center-children;

  .nav-menu-item {
    padding: 0;
    list-style: none;

    a {
      text-decoration: none;
      height: 100px;
    }
  }
}

.nav-menu-link {
  height: 100px;
  margin-top: 50%;
  margin-bottom: 50%;
}