@import '../../globals.scss';

.nav-root {
  @extend %center-children;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  height: 80px;
  z-index: 10;
}

.nav-hamburger-menu {
  position: absolute;
  left: $mobile-gutter;

  svg {
    @extend %svg-icon;
  }
}

.nav-title {

  h1 {
    margin: 0;
  }
}

.nav-search-icon {
  position: absolute;
  right: $mobile-gutter;

  svg {
    @extend %svg-icon;
  }
}


.nav-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 80px;
  z-index: 1;
  background-color: rgba(29.8%, 33.7%, 36.9%, 0.8);
}

.expanded-menu {
  top: 80px;
  background-color: darkgray;
  width: 100%;
  position: fixed;
  z-index: 2;

  ul {
    padding: 0;
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
  }

}

.nav-menu-item {
  list-style: none;
  
  a {
    height: auto;
    text-decoration: none;

    div {
      @extend %center-children;
      height: 100px;
      width: 100%;

    }
  }
}

.nav-search {
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  position: relative;
  margin-top: 20px;
  left: 0;
  z-index: 2;
  height: 40px;
  border: solid 1px black;

  input {
    height: 100%;
    width: 100%;
    font-size: 24px;
  }
}
