@import '../../globals.scss';

.nav-hamburger-menu {
  left: $tablet-gutter;
}

.nav-search-icon {
  right: $tablet-gutter;
}

.expanded-menu {

  ul {
    padding-left: $tablet-gutter;
    padding-right: $tablet-gutter;
  }
}

.nav-search {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}
