<div class="movie-alternate-versions" *ngIf="this.movieAlternateVersion">
  <h2>Alternate Versions</h2>

  <!-- Desktop Selector -->
  <div class="movie-alt-countries desktop-only" id="alt-countries">
    <div *ngFor="let item of this.movieAlternateVersion.Countries" (click)="toggleCountries(item.Country)" [class.active]="item.Active" class="movie-alt-country"><h4>{{item.Country}}</h4></div>
  </div>

  <!-- Mobile and Tablet Selector -->
  <select class="mobile-alt-countries" name="altVersionSelector"
    [(ngModel)]="this.activeAltCountry"
    (ngModelChange)="this.toggleCountries(this.activeAltCountry);">
    <option 
      *ngFor="let item of this.movieAlternateVersion.Countries; let i = index"
      [ngValue]="item.Country">{{item.Country}}
    </option>
  </select>
  <div *ngFor="let country of this.movieAlternateVersion.Countries" >
    <app-movie-alt-country [country]="country"></app-movie-alt-country>
  </div>
</div>