@import '../../globals.scss';

.medias-root {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
}

.filter-section {
  display: flex;
  flex-flow: wrap;

  .filter-option {
    width: 33%;
    margin-right: .5%;
  }

  .filter-option:nth-child(3n) {
    margin-right: 0;
  }

  .filter-option:nth-child(1n + 4) {
    margin-top: $mobile-gutter;
  }
}