@import '../../globals.scss';

.medias-root {
  margin-top: $below-header;
  margin-bottom: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
}

.medias-header {
  text-align: center;
}

.medias-results {
  justify-content: center;
}

.detail-search {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 0;
  z-index: 2;
  height: 40px;
  border: solid 1px black;

  input {
    height: 100%;
    width: 100%;
    font-size: 24px;
  }
}

.filter-section {
  margin-top: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  width: 100%;

  .filter-option {

    margin-top: 20px;

    select {
      width: 100%;
    }
  }
}

.hide-filters {
  display: none;
}

.clear-button {
  height: 40px;
  width: 100%;

  input {
    height: 100%;
    width: 100%;
  }
}

.medias-nav div {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  h2 {
    outline: none;
    font-size: 1.2em;
  }
}

.medias-nav-link {
  transition: .2s;
  margin-bottom: 5px;
  padding: 5px;
  background-color: $secondary-background;
}

.medias-nav-link:hover {
  cursor: pointer;
  transition: .2s;
  background-color: $secondary-foreground;
  color: $secondary-background;
}

.medias-nav-link-active {
  cursor: default !important;
  background-color: $secondary-foreground;
  color: $secondary-background;
}