@import '../../sassisms.scss';;

.medias-results {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.medias-root {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.toggle-filters {
  display: none;
}

.hide-filters {
  display: block;
}

.filter-option {
  margin-top: 0;
}