@import '../../sassisms.scss';;

.medias-results {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.medias-root {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.toggle-filters {
  display: none;
}

.hide-filters {
  display: block;
}

.filter-option {
  margin-top: 0;
}

.filter-section {
  position: relative;
  top: auto;
  height: auto;
  left: auto;
  background-color: inherit;

  .filter-option {
    margin-left: 0;
    margin-right: 0;
  }
}