@import '../../globals.scss';

.medias-results {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.medias-root {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.toggle-filters {
  display: none;
}

.hide-filters {
  display: block;
}

.filter-option {
  margin-top: 0;
}

.medias-nav div {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  
  width: auto;
  
  h2 {
    font-size: 1.2em;
  }
}

.medias-nav-link {
  margin-bottom: 5px;
  padding: 0;
}