<div class="media-details-root">
  <div class="media-details-title">
    <h2>{{mediaDetails.Title}} - {{mediaDetails.Medium}} Review</h2>
    <h3>{{mediaDetails.TitleJapanese}}</h3>
  </div>
  <div>
    <div class="media-poster">
      <img src="http://placehold.it/200x275">
    </div>
    <div class="media-information">
      <div class="left-information">
        <div>
          Main Feature Information:
          <ul>
            <li *ngFor = "let item of mediaDetails.MainFeatureInfo">{{item}}</li>
          </ul>
        </div>
        <div>
          Disc Information:
          <ul>
            <li *ngFor = "let item of mediaDetails.DiscInfo">{{item}}</li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          Distributor Information:
          <ul>
            <li *ngFor = "let item of mediaDetails.DistributionInfo">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
