<div *ngIf="this.mediaDetails"
  class="media-details-root">
  <div class="media-details-title">
    <h2>{{mediaDetails.Title}} - {{mediaDetails.Medium}} Review</h2>
    <h3>{{mediaDetails.TitleJapanese}}</h3>
  </div>
  <div>
    <div class="media-poster">
      <img [src]="mediaDetails.BoxArt">
    </div>
    <div class="media-information">
      <div class="left-information">
        <div>
          <h3>Main Feature Information:</h3>
          <ul>
            <li *ngFor = "let item of mediaDetails.MainFeatureInfo">{{item}}</li>
          </ul>
        </div>
        <div>
          <h3>Disc Information:</h3>
          <ul>
            <li *ngFor = "let item of mediaDetails.DiscInfo">{{item}}</li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <h3>Purchase Now:</h3>
          <div *ngIf="mediaDetails.PurchaseLinks.length > 0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <ul>
              <li *ngFor = "let item of mediaDetails.PurchaseLinks"><a [href]="item" target="_blank">Amazon</a></li>
            </ul>
          </ng-template>
          <ng-template #elseBlock>
            <ul>
              <li>Sorry, this item is unavailable for purchase.</li>
            </ul>
          </ng-template>
        </div>
        <div>
          <h3>Distributor Information:</h3>
          <ul>
            <li *ngFor = "let item of mediaDetails.DistributionInfo">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="media-review">
    <img src="https://i.imgur.com/iG56sYL.jpg" width="900" height="500">
    <div><h2>Video: 4/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img src="https://i.imgur.com/iG56sYL.jpg" width="900" height="500">
    <div><h2>Audio: 5/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img src="https://i.imgur.com/iG56sYL.jpg" width="900" height="500">
    <div><h2>Extras: 2/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img src="https://i.imgur.com/iG56sYL.jpg" width="900" height="500">
    <div><h2>Overall: 3/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
</div>
