<div *ngIf="this.mediaDetails"
  class="media-details-root">
  <div class="media-details-title">
    <h2>{{mediaDetails.Title}} {{mediaDetails.Medium}}</h2>
    <h3>{{mediaDetails.TitleJapanese}}</h3>
  </div>
  <div>
    <div class="media-poster">
      <img [src]="mediaDetails.BoxArt">
    </div>
    <div class="media-information">
      <div class="left-information">
        <div>
          <h4>Main Feature Information:</h4>
          <ul>
            <li *ngIf="this.mediaDetails.AspectRatio">Aspect Ratio: {{this.mediaDetails.AspectRatio}}</li>
            <li *ngIf="this.mediaDetails.Runtime">Runtime: {{this.mediaDetails.Runtime}} minutes</li>
            <li *ngIf="this.mediaDetails.OriginalRuntime">Original Runtime: {{this.mediaDetails.OriginalRuntime}} minutes</li>
            <li *ngIf="this.mediaDetails.Color">Color: {{this.mediaDetails.Color}}</li>
            <!--<li *ngIf="this.mediaDetails.ChapterStops">Chapter Stops: {{this.mediaDetails.ChapterStops}}</li>-->
            <li *ngIf="this.mediaDetails.AudioTracks">Audio Tracks:
              <ul>
                <li *ngFor = "let item of mediaDetails.AudioTracks">{{item}}</li>
              </ul>
            </li>
            <li *ngIf="this.mediaDetails.Subtitles">Subtitles:
              <ul>
                <li *ngFor = "let item of mediaDetails.Subtitles">{{item}}</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <h4>Disc Information:</h4>
          <ul>
            <li *ngIf="this.mediaDetails.Medium">Format Medium: {{this.mediaDetails.Medium}}</li>
            <li *ngIf="this.mediaDetails.Format">Format Details: {{this.mediaDetails.Format}}</li>
            <li *ngIf="this.mediaDetails.MediumCount">{{this.mediaDetails.Medium}} Count: {{this.mediaDetails.MediumCount}}</li>
            <li *ngIf="this.mediaDetails.Region">Region: {{this.mediaDetails.Region}}</li>
            <li *ngIf="this.mediaDetails.Country">Release Country: {{this.mediaDetails.Country}}</li>
            <li *ngIf="this.mediaDetails.ColorSystem">Color System: {{this.mediaDetails.ColorSystem}}</li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <h4>Purchase Now:</h4>
          <div *ngIf="mediaDetails.PurchaseLinks.length > 0; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <ul>
              <li *ngFor = "let item of mediaDetails.PurchaseLinks"><a [href]="item" target="_blank">Amazon</a></li>
            </ul>
          </ng-template>
          <ng-template #elseBlock>
            <ul>
              <li>Sorry, this item is unavailable for purchase.</li>
            </ul>
          </ng-template>
        </div>
        <div>
          <h4>Distributor Information:</h4>
          <ul>
            <li *ngIf="this.mediaDetails.Distributor">Distributor: {{this.mediaDetails.Distributor}}</li>
            <li *ngIf="this.mediaDetails.CatalogCode">CatalogCode: {{this.mediaDetails.CatalogCode}}</li>
            <li *ngIf="this.mediaDetails.UPC">UPC: {{this.mediaDetails.UPC}}</li>
            <li *ngIf="this.mediaDetails.ReleaseDate">Release Date: {{this.mediaDetails.ReleaseDate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="media-review">
    <div><h2>{{mediaDetails.Medium}} Review</h2></div>
    <div><h2>Video: 4/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img class="media-review-img" [src]="mediaDetails.Screencaps[0]">
    <div><h2>Audio: 5/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img class="media-review-img" [src]="mediaDetails.Screencaps[1]">
    <div><h2>Extras: 2/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img class="media-review-img" [src]="mediaDetails.Screencaps[2]">
    <div><h2>Packaging: 2/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img class="media-review-img" [src]="mediaDetails.Screencaps[3]">
    <div><h2>Overall: 3/5</h2></div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
    <img class="media-review-img" [src]="mediaDetails.Screencaps[4]">
  </div>
</div>
