$mobile-gutter: 20px;

%center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-root {
  margin-top: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
}

.landing-page-card {
  @extend %center-children;
  height: calc((100vh - 100px) / 3);
  width: 100%;
  background-color: lightgray;
  text-decoration: none;
}