$tablet-gutter: 40px;

.home-root {
  margin-top: $tablet-gutter;
  margin-bottom: $tablet-gutter;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.home-tile {
  display: flex;
  margin-top: $tablet-gutter;
}

.landing-page-card {
  height: calc((100vh - 300px) / 3);
  width: 50%;
}

.landing-paragraph {
  width: 50%;
  padding: $tablet-gutter;
}

.align-right {
  a {
    position: relative;
    left: 50%;
  }
  p {
    position: relative;
    right: 50%;
  }
}
