@import '../../globals.scss';

.movie-card {
    display: flex;
    max-height: 240px;
    width: 100%;
    background-color: lightgray;
    text-decoration: none;
    margin-top: $mobile-gutter;
}

.movie-card-content {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}