@import '../../globals.scss';

.movies-results {

  app-movie-card {
    width: calc(50% - 10px);
  }

  app-movie-card:nth-child(odd) {
    margin-right: 20px;
  }
}

.movie-card {
  width: 100%;
}

.movie-card-content {
  div {
    font-size: 0.8em;
    padding: 10px;
  }
}