<div class="medias-root">
  <div class="medias-header">
    <h2>Home Media Releases</h2>
    <div class="detail-search normal-z">
      <input class="text-input" [(ngModel)]="searchTerm" type="text" placeholder="Filter by title">
    </div>
    
    <!--Filters-->
    <div [ngClass]="{'hide-filters' : this.showFilters === 'Show filters +'}" class="filter-section">
      <div class="filter-option">
        <select id="country-select" [(ngModel)]="this.countryFilter">
          <option value="">Filter by country</option>
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="medium-select" [(ngModel)]="mediumFilter">
          <option value="">Filter by medium</option>
          <option *ngFor="let medium of mediums" [value]="medium">{{medium}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="region-select" [(ngModel)]="regionFilter">
          <option value="">Filter by region</option>
          <option *ngFor="let region of regions" [value]="region">{{region}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="spoken-language-select" [(ngModel)]="this.spokenLanguageFilter">
          <option value="">Filter by spoken language</option>
          <option *ngFor="let language of this.spokenLanguages" [value]="language">{{language}}</option>
        </select>
      </div>
      <div class="filter-option">
        <select id="subtitle-language-select" [(ngModel)]="this.subtitleLanguageFilter">
          <option value="">Filter by subtitle language</option>
          <option *ngFor="let language of this.subtitleLanguages" [value]="language">{{language}}</option>
        </select>
      </div>
      <div class="filter-option clear-button">
        <input type="button" value="Clear Filters" (click)="clearFilters()">
      </div>
    </div>
  </div>

  <a class="toggle-filters" (click)="this.toggleShowFilters()">
    <div>
      {{this.showFilters}}
    </div>
  </a>

  <app-media-search-results
    [mediaItems]="this.mediaItems"
    [searchTerm]="this.searchTerm"
    [mediumFilter]="this.mediumFilter"
    [spokenLanguageFilter]="this.spokenLanguageFilter"
    [subtitleLanguageFilter]="this.subtitleLanguageFilter"
    [countryFilter]="this.countryFilter"
    [regionFilter]="this.regionFilter"
    [countriesToIterate]="this.countries">
  </app-media-search-results>
</div>