@import '../../globals.scss';

.about-root {
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  margin-top: $below-header;
}

.about-section {
  text-align: center;
}

.dev-card {
  margin-top: $mobile-gutter;
  background-color: $secondary-background;
  padding-bottom: $mobile-gutter;

  p {
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;
  }

  img {
    width: 100%;
  }
}