@import '../../globals.scss';

.about-root {
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
  margin-bottom: $tablet-gutter;
  margin-top: $tablet-gutter + 80px;

  app-dev-card:first-child {
    margin-right: 5%;
  }
}

$tablet-gutter: 40px;

.dev-card-wrapper {
  display: flex;
}

.dev-card {
  margin-top: 0;
  padding-bottom: $tablet-gutter;

  p {
    padding-left: $tablet-gutter;
    padding-right: $tablet-gutter;
  }
}