@import '../../globals.scss';

.results-root {
  margin-top: 60px;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  text-align: center;

  h3 {
    margin-bottom: 0;
  }
}

.result-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.result-item {
  @extend %center-children;
  width: 100%;
  height: 80px;
  background-color: $tertiary-background;
  margin-right: $mobile-gutter;
  margin-top: $mobile-gutter;

  a {
    display: flex;
    width: 100%;
    height: 80px;
  }

  :hover {
    background-color: $primary-foreground;
    color: $primary-background;

    svg {
      fill: $primary-background;
    }
  }

}