@import '../../globals.scss';

.results-root {
  margin-top: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;
  margin-bottom: $mobile-gutter;
  text-align: center;
}

.result-list {
  padding: 0;

  li {
    list-style: none;
  }
}

.result-item {
  @extend %center-children;
  width: 100%;
  height: 80px;
  background-color: $tertiary-background;
  margin-right: $mobile-gutter;
  margin-top: $mobile-gutter;

  a {
    display: flex;
    width: 100%;
  }
}