.not-found-hero-image {
    @include hero-image("https://firebasestorage.googleapis.com/v0/b/tokucinema.appspot.com/o/images%2F404.jpg?alt=media&token=a9ea157c-96af-4192-8851-fa7cb2284ead", center center, '');
}

.not-found-root {
    margin-left: $mobile-gutter;
    margin-right: $mobile-gutter;
    margin-top: $below-header;
    text-align: center;
    display: flex;
    align-items: center;
    height: $header-content-footer;
}

.not-found-card {
    background-color: $primary-transparant-background;
    padding-top: $mobile-gutter;
    padding-bottom: $mobile-gutter;
    width: 100%;
}

.not-found-tool-options {

    .tool-link-wrapper {
        margin-left: $mobile-gutter;
        margin-right: $mobile-gutter;
        display: flex;
        align-items: center;
        margin-top: 20px;
        background-color: $primary-background;
        height: 40px;
        padding: 20px;
    }

    .tool-link-icon {
        position: absolute;
        right: 50px;

        svg {
            @extend %svg-icon;
            fill: $primary-foreground;
        }
    }
}