.gallery-nav-button-right,
.gallery-nav-button-left {
  
  div {
    height: 15vh;
  }
}

.gallery-nav-button-left { 
  left: $desktop-gutter;
}

.gallery-nav-button-right {
  right: $desktop-gutter;
}

.slider-image-carousel {

  ul {
    width: 1120px;

    li {
      height: 15vh;
    }
  }
}

.gallery-modal {

  .close-icon {
    right: $desktop-gutter;
  }
}

.appear-in-modal {
  margin-bottom: 10px;

  .gallery-nav-button-right{
    right: $desktop-gutter;
  }
  .gallery-nav-button-left{
    left: $desktop-gutter;
  }
}