@import '../../globals.scss';

.gallery-wrapper {
  margin-bottom: 45px;
  margin-top: 45px;
}

.gallery-nav-button-left {
  left: auto;
  margin-right: 420px;
  left: $desktop-gutter;
}

.gallery-nav-button-right {
  right: $desktop-gutter;
}

.youtube-play-circle {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;

  svg {
    left: 0;
    width: 30%;
  }
}

.appear-in-modal {
  width: 1140px;
  left: auto;

  .gallery-nav-button-right{
    position: absolute;
    right: $desktop-gutter;
  }
  .gallery-nav-button-left{
    position: absolute;
    left: $desktop-gutter;
  }
}

.close-icon {
  text-align: right;
  margin-top: 0;
  margin-right: calc((120% - 1140px) / 2);
}
