@mixin transition($values...) {

  $transitions: ();
  @each $declaration in $values {
    $prop: nth($declaration, 1);
    $prop-opts: ();
    $length: length($declaration);
    @for $i from 2 through $length {
      $prop-opts: append($prop-opts, nth($declaration, $i));
    }

    $trans: ($prop, $prop-opts);
    $transitions: append($transitions, $trans, comma);
  }

  -webkit-transition: trans-prefix($transitions, webkit);
  -moz-transition: trans-prefix($transitions, moz);
  -o-transition: trans-prefix($transitions, o);
  transition: $values;
}


$white: #fff;

.gallery-wrapper {
  margin-bottom: 40px;
  margin-top: 40px;
  width: 100%;

  .focus-image {
    text-align: center;
    height: calc(80vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
      height: auto;
    }

    img {
      width: auto;
      height: auto;
      max-width: calc(100% - 40px);
      max-height: calc(100vh - 160px);
    }
  }
}

.focsed-video {
  height: 400px;
  width: 100%;
}

$nav-button-transparent: rgba(29.8%, 33.7%, 36.9%, .8);

%gallery-nav-button {
  position: absolute;
  z-index: 3;
  cursor: pointer;

  div {
    background-color: $nav-button-transparent;
    height: 80px;
    position: relative;
    width: 25px;

    svg {
      fill: $white;
      height: 30px;
      position: relative;
      width: 30px;
    }
  }
}

.gallery-nav-button-left {
  @extend %gallery-nav-button;
  left: 18px;

  div {

    svg {
      height: 100%;
      left: -3px;
    }
  }
}

.gallery-nav-button-right {
  @extend %gallery-nav-button;
  right: 18px;

  div {

    svg {
      height: 100%;
    }

  }
}

.slider-image-carousel {
  display: flex;
  justify-content: center;
  
  ul {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;

    li {
      @include transition(all 800ms cubic-bezier(.770, 0, .175, 1));
      display: inline-block;
      width: 100%;
      height: 80px;
    }
  }
}

.carousel-less-margin {
  margin-left: -3px;
}

.slider-carousel-image {
  background-repeat: no-repeat;
  background-size: auto 80px;
  background-position: center;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  margin-right: 1.75%;
  margin-left: 1.75%;
  width: 16.5%;
}

.image-slider {
  list-style-type: none;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;

  li {
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    overflow: hidden;
    width: 31%;

    iframe {
      height: 100%;
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.slider-image-item {
  margin-right: 3.5%;
}

.slider-image {
  height: 100px;
  width: 120px;
}

.slider-thumb {
  height: 100%;
  max-width: 100%;
}

.youtube-play-circle {
  fill: $white;
  height: inherit;
  position: absolute;
  width: 31%;

  svg {
    height: 100%;
    left: 28%;
    position: relative;
    width: 33%;
  }
}

.gallery-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  margin-top: 80px;
  z-index: 4;
  background-color: $modal-background;
  height: 100%;
  width: 100%;

  svg {
    fill: white;
    height: 40px;
    width: 40px;
    bottom: 125px;
    left: 125px;
    cursor: pointer;
  }

  .close-icon {
    position: absolute;
    margin-top: 0;
    right: 20px;
  }
}

.appear-in-modal {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 80%;
  left: 10%;

  .gallery-nav-button-right{
    position: fixed;
    right: 15px;
  }
  .gallery-nav-button-left{
    position: fixed;
    left: 15px;
  }
}