@import '../../sassisms.scss';;

.gallery-nav-button-left {
  left: $tablet-gutter;
}

.gallery-nav-button-right {
  right: $tablet-gutter;
}

.gallery-nav-button-left,
.gallery-nav-button-right {
  div {
    height: 140px;
  }
}

.gallery-wrapper {

  .focus-image {

    div {
      height: 600px;
    }

    img {
      width: auto;
      height: 600px;
    }
  }
}

.slider-carousel-image {
  height: 140px;
  background-size: auto 140px;
}

.focsed-video {
  height: 800px;
}

.gallery-modal {
  svg {
    bottom: 340px;
    left: 400px;
  }
}