<div *ngIf="movie"
  class="movie-details-root">
  <div class="movie-details-title">
    <h2>{{this.movie.OfficialTitle}}</h2>
  </div>
  <div>
    <div class="movie-poster">
      <img *ngIf="this.movie.OriginalPoster" src="{{this.movie.OriginalPoster[1]}}">
    </div>
    <div class="movie-information">
      <div>
        <h4>Movie Information:</h4>
        <ul>
          <div *ngIf="this.movie.ReleaseDate then thenBlock_ReleaseDate_Date else elseBlock_ReleaseDate_Date"></div>
            <ng-template #thenBlock_ReleaseDate_Date>
              <li>Release Date: {{this.movie.ReleaseDate | date:'MMMM d, yyyy'}}</li>
            </ng-template>
            <ng-template #elseBlock_ReleaseDate_Date>
              <li>Release Date: {{this.movie.CircaRelease}}</li>
            </ng-template>

          <li *ngIf="this.movie.ProductionCompany">Production Company: {{this.movie.ProductionCompany}}</li>
          <li *ngIf="this.movie.Distributor">Distribution Company: {{this.movie.Distributor}}</li>
          <li *ngIf="this.movie.Runtime">Original Runtime: {{this.movie.Runtime}} minutes</li>
          <!-- Atlernate Titles Null Check -->
          <div *ngIf="this.movie.doesAtlernateTitlesExist(); then thenBlock_AtlernateTitles_NullCheck"></div>
            <ng-template #thenBlock_AtlernateTitles_NullCheck>
              <!-- Do we have more than 1 Atlernate Titles? -->
              <div *ngIf="this.movie.AlternateTitles.length>1; then thenBlock_AtlernateTitles_multiple else elseBlock_AtlernateTitles_multiple"></div>
                <ng-template #thenBlock_AtlernateTitles_multiple>
                  <li>Atlernate Titles:
                    <ul>
                      <li *ngFor="let item of this.movie.AlternateTitles">{{item.TitleType}}: {{item.TitleValue}}</li>
                    </ul>
                  </li>
                </ng-template>
                <ng-template #elseBlock_AtlernateTitles_multiple>
                  <li>Atlernate Title: {{this.movie.AtlernateTitles[0].TitleValue}}</li>
                </ng-template>
            </ng-template>
        </ul>
      </div>
    </div>
  </div>
  <div class="movie-cast-crew" *ngIf="this.movie.doesCastOrCrewExist()">
    <div class="movie-cast-crew-left" *ngIf="this.movie.doesCastExist()">
      <h2>Cast</h2>
      <div *ngFor="let item of this.movie.Cast">
        <div *ngIf="item.RoleName then thenBlock_CastRoleName else elseBlock_CastRoleName"></div>
          <ng-template #thenBlock_CastRoleName>
            <strong>{{item.ActorName}}</strong> as {{item.RoleName}}
          </ng-template>
          <ng-template #elseBlock_CastRoleName>
            <strong>{{item.ActorName}}</strong>
          </ng-template>
      </div>
    </div>
    <div class="movie-cast-crew-right" *ngIf="this.movie.doesCrewExist()">
      <h2>Crew</h2>
      <div *ngFor="let item of this.movie.Crew"><strong>{{item.PositionTitle}}</strong>: {{item.Name}}</div>
    </div>
  </div>

  <div class="movie-alternate-versions" *ngIf="this.movieAlternateVersion">
    <h2>Alternate Versions</h2>

    <!-- Desktop Selector -->
    <div class="movie-alt-countries desktop-only" id="alt-countries">
      <div *ngFor="let item of this.movieAlternateVersion.Countries" (click)="toggleCountries(item.Country)" [class.active]="item.Active" class="movie-alt-country"><h4>{{item.Country}}</h4></div>
    </div>

    <!-- Mobile and Tablet Selector -->
    <select class="mobile-alt-countries" name="altVersionSelector"
      [(ngModel)]="this.activeAltCountry"
      (ngModelChange)="this.toggleCountries(this.activeAltCountry);">
      <option 
        *ngFor="let item of this.movieAlternateVersion.Countries; let i = index"
        [ngValue]="item.Country">{{item.Country}}
      </option>
    </select>

    <div *ngFor="let country of this.movieAlternateVersion.Countries" >
      <div class="movie-alt-details" [class.active]="country.Active" *ngIf="country.Active">
        <div class="movie-alt-version-details" *ngFor="let version of country.Versions">
          <div *ngIf="country.Versions.length>1 then thenBlock_MainTitle else elseBlock_MainTitle"></div>
            <ng-template #thenBlock_MainTitle>
                <h3>{{version.MainTitle[0].TitleType}} title: {{version.MainTitle[0].TitleValue}}</h3>
            </ng-template>
            <ng-template #elseBlock_MainTitle>
              <h3>{{version.MainTitle[0].TitleValue}}</h3>
            </ng-template>
          <ul>
            <div *ngIf="version.ReleaseDate">
             <div *ngIf="isCircaDate(version.ReleaseDate); then thenBlock_ReleaseCirca else elseBlock_ReleaseCirca"></div>
                <ng-template #thenBlock_ReleaseCirca>
                  <li>Release Date: {{version.ReleaseDate}}</li>
                </ng-template>
                <ng-template #elseBlock_ReleaseCirca>
                  <li>Release Date: {{version.ReleaseDate | date:'MMMM d, yyyy'}}</li>
                </ng-template>
            </div>
            <li *ngIf="version.ProductionCompany">Production Company: {{version.ProductionCompany}}</li>
            <li *ngIf="version.DistributionCompany">Distribution Company: {{version.DistributionCompany}}</li>
            <li *ngIf="version.DubCompany">Dub Studio: {{version.DubCompany}}</li>
            <li *ngIf="version.Runtime">Runtime: {{version.Runtime}} minutes</li>
            <li *ngIf="version.Rating">Rated: {{version.Rating[0].RatingSystem}} {{version.Rating[0].RatingValue}}</li>
          </ul>
          <div class="movie-cast-crew" *ngIf="version.Cast || version.DubCast || version.Crew">
            <div class="movie-alt-cast-crew" *ngIf="version.Cast">
              <h4>Cast</h4>
              <div *ngFor="let item of version.Cast">
                <div *ngIf="item.RoleName then thenBlock_DubCastRoleName else elseBlock_DubCastRoleName"></div>
                  <ng-template #thenBlock_DubCastRoleName>
                    <strong>{{item.ActorName}}</strong> as {{item.RoleName}}
                  </ng-template>
                  <ng-template #elseBlock_DubCastRoleName>
                    <strong>{{item.ActorName}}</strong>
                  </ng-template>
              </div>
            </div>
            <div class="movie-alt-cast-crew" *ngIf="this.version.DubCast">
              <h4>Dub Cast</h4>
              <div *ngFor="let item of version.DubCast">
                <div *ngIf="item.RoleName then thenBlock_DubVoiceCastRoleName else elseBlock_DubVoiceCastRoleName"></div>
                  <ng-template #thenBlock_DubVoiceCastRoleName>
                    <strong>{{item.ActorName}}</strong> as {{item.RoleName}}
                  </ng-template>
                  <ng-template #elseBlock_DubVoiceCastRoleName>
                    <strong>{{item.ActorName}}</strong>
                  </ng-template>
              </div>
            </div>
            <div class="movie-alt-cast-crew" *ngIf="this.version.Crew">
              <h4>Crew</h4>
              <div *ngFor="let item of version.Crew"><strong>{{item.PositionTitle}}</strong>: {{item.Name}}</div>
            </div>
          </div>
          
          <div *ngIf="version.Iterations" class="movie-alt-iterations">
            <h4 class="movie-alt-iterations-header">Iterations</h4>
            <div *ngFor="let iteration of version.Iterations">
              <ul>
                <li *ngIf="iteration.Name">{{iteration.Name}}</li>
                  <ul>
                    <div *ngIf="iteration.AlternateTitle">
                      <div *ngIf="iteration.AlternateTitle.length>0">
                        <div *ngIf="iteration.AlternateTitle.length>1; then thenBlock_Iteration_Titles else elseBlock_Iteration_Titles"></div>
                          <ng-template #thenBlock_Iteration_Titles>
                            <h4>Alternate Titles</h4>
                            <ul>
                              <li *ngFor="let item of iteration.AlternateTitle">{{item.TitleType}}: {{item.TitleValue}}</li>
                            </ul>
                          </ng-template>
                          <ng-template #elseBlock_Iteration_Titles><li>{{iteration.AlternateTitle[0].TitleType}} Title: {{iteration.AlternateTitle[0].TitleValue}}</li></ng-template>
                      </div>
                    </div>
                    <li *ngIf="iteration.Runtime">Runtime: {{iteration.Runtime}} minutes</li>
                    <div *ngIf="iteration.ReleaseDate">
                      <div *ngIf="isCircaDate(iteration.ReleaseDate); then thenBlock_ReleaseCirca_Iteration else elseBlock_ReleaseCirca_Iteration"></div>
                          <ng-template #thenBlock_ReleaseCirca_Iteration>
                            <li>Release Date: {{iteration.ReleaseDate}}</li>
                          </ng-template>
                          <ng-template #elseBlock_ReleaseCirca_Iteration>
                            <li>Release Date: {{iteration.ReleaseDate | date:'MMMM d, yyyy'}}</li>
                          </ng-template>
                    </div>
                    <div *ngIf="iteration.MediaPath">
                      <li>Released On:</li>
                      <ul>
                        <li *ngFor = "let item of iteration.MediaPath"><a [routerLink]="['/media', item.Path]">{{item.Descriptor}}</a></li>
                      </ul>
                    </div>
                    <div *ngIf="iteration.Notes">
                      <li>Notes:</li>
                      <ul>
                        <li *ngFor="let item of iteration.Notes">{{item}}</li>
                      </ul>
                    </div>
                  </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-not-found *ngIf="this.pageNotFound"></app-not-found>