<div *ngIf="movie"
  class="movie-details-root">
  <div class="movie-details-title">
    <h2>{{this.movie.OfficialTitle}}</h2>
  </div>
  <div>
    <div class="movie-poster">
      <img *ngIf="this.movie.OriginalPoster" src="{{this.movie.OriginalPoster[1]}}">
    </div>
    <div class="movie-information">
      <div>
        <h4>Movie Information:</h4>
        <ul>
          <div *ngIf="this.movie.ReleaseDate then thenBlock_ReleaseDate_Date else elseBlock_ReleaseDate_Date"></div>
            <ng-template #thenBlock_ReleaseDate_Date>
              <li>Release Date: {{this.movie.ReleaseDate | date:'MMMM d, yyyy'}}</li>
            </ng-template>
            <ng-template #elseBlock_ReleaseDate_Date>
              <li>Release Date: {{this.movie.CircaRelease}}</li>
            </ng-template>

          <li *ngIf="this.movie.ProductionCompany">Production Company: {{this.movie.ProductionCompany}}</li>
          <li *ngIf="this.movie.Distributor">Distribution Company: {{this.movie.Distributor}}</li>
          <li *ngIf="this.movie.Runtime">Original Runtime: {{this.movie.Runtime}} minutes</li>
          <!-- Atlernate Titles Null Check -->
          <div *ngIf="this.movie.doesAlternateTitlesExist(); then thenBlock_AtlernateTitles_NullCheck"></div>
            <ng-template #thenBlock_AtlernateTitles_NullCheck>
              <!-- Do we have more than 1 Atlernate Titles? -->
              <div *ngIf="this.movie.AlternateTitles.length>1; then thenBlock_AtlernateTitles_multiple else elseBlock_AtlernateTitles_multiple"></div>
                <ng-template #thenBlock_AtlernateTitles_multiple>
                  <li>Atlernate Titles:
                    <ul>
                      <li *ngFor="let item of this.movie.AlternateTitles">{{item.TitleType}}: {{item.TitleValue}}</li>
                    </ul>
                  </li>
                </ng-template>
                <ng-template #elseBlock_AtlernateTitles_multiple>
                  <li>Atlernate Title: {{this.movie.AtlernateTitles[0].TitleValue}}</li>
                </ng-template>
            </ng-template>
        </ul>
      </div>
    </div>
  </div>
  <div class="movie-cast-crew" *ngIf="this.movie.doesCastOrCrewExist()">
    <div class="movie-cast-crew-left" *ngIf="this.movie.doesCastExist()">
      <h2>Cast</h2>
      <div *ngFor="let item of this.movie.Cast">
        <div *ngIf="item.RoleName then thenBlock_CastRoleName else elseBlock_CastRoleName"></div>
          <ng-template #thenBlock_CastRoleName>
            <strong>{{item.ActorName}}</strong> as {{item.RoleName}}
          </ng-template>
          <ng-template #elseBlock_CastRoleName>
            <strong>{{item.ActorName}}</strong>
          </ng-template>
      </div>
    </div>
    <div class="movie-cast-crew-right" *ngIf="this.movie.doesCrewExist()">
      <h2>Crew</h2>
      <div *ngFor="let item of this.movie.Crew"><strong>{{item.PositionTitle}}</strong>: {{item.Name}}</div>
    </div>
  </div>
  <app-movie-alt-details [movieAlternateVersion]="this.movieAlternateVersion" *ngIf="this.movieAlternateVersion"></app-movie-alt-details>
</div>

<app-not-found *ngIf="this.pageNotFound"></app-not-found>