@import '../../globals.scss';

.medias-results {

  app-media-card {
    width: calc(50% - 10px);
  }

  app-media-card:nth-child(odd) {
    margin-right: 20px;
  }
}

.media-card {
  max-height: 240px;
}

.media-card-content {
  div {
    font-size: medium;
    padding: $mobile-gutter;
  }
}