@import '../../globals.scss';

.media-card {
  display: flex;
  max-height: 240px;
  background-color: $secondary-background;
  text-decoration: none;
  margin: 10px;
}

.media-card-content {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-card-image {
  max-height: 100%;
  width: 160px;
}