@import '../../globals.scss';

.medias-results {

  app-media-card {
    width: calc(50% - 5px);
  }

  app-media-card:nth-child(odd) {
    margin-right: 10px;
  }
}

.media-card {
  width: 100%;
}

.media-card-content {
  div {
    font-size: 0.8em;
    padding: 10px;
  }
}