<div class="media-form-root">
  <div class="firebase-media-list">
    <ul>
      <li class="text" *ngFor="let item of media | async">
        {{item.$value}}
      </li>
    </ul>
  </div>

  <div class="input-controls">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="JapaneseTitle" value="" placeholder="JapaneseTitle">
    <!--Needs validation-->
    <input type="text" name="AspectRatio" value="" placeholder="AspectRatio">
    <input type="number" name="Runtime" value="">
    <!--Needs validation-->
    <input type="text" name="Color" value="" placeholder="Color">
    <input type="number" name="OriginalRuntime" value="">
    
    <!--Chapter Stops-->
    <!--Multivalued-->
    <div>
      <input type="text" name="Version" value="" placeholder="Version">  
      <input type="number" name="Count" value="">
    </div>
    
    <input type="text" name="Subtitles" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
    <input type="text" name="Title" value="" placeholder="Title">
  </div>
</div>