<div *ngIf="this.mediaDetails"
  class="media-details-root">
  <div class="media-details-title">
    <h2>{{mediaDetails.Title}} {{mediaDetails.Medium}}</h2>
  </div>
  <div class="media-information-parent">
    <div class="media-poster">
      <img src="{{media.BoxArt[1]}}" alt="Cover art for {{mediaDetails.Title}} {{mediaDetails.Medium}}">
    </div>
    <div class="media-information">
      <div class="left-information">
        <div>
          <h4>Main Feature Information:</h4>
          <ul>
            <!-- Aspect Ratio Null Check -->
            <div *ngIf="this.mediaDetails.doesAspectRatioExist(); then thenBlock_AspectRatio_NullCheck"></div>
              <ng-template #thenBlock_AspectRatio_NullCheck>
                <!-- Do we have more than 1 unique aspect ratio? -->
                <div *ngIf="this.mediaDetails.getHasDifferentAspectRatios(); then thenBlock_AspectRatio_multiple else elseBlock_AspectRatio_multiple"></div>
                  <ng-template #thenBlock_AspectRatio_multiple>
                    <li>Aspect Ratio:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.AspectRatio">{{item.Version}}: <br>{{item.AspectRatio}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_AspectRatio_multiple>
                    <li>Aspect Ratio: {{this.mediaDetails.AspectRatio[0].AspectRatio}}</li>
                  </ng-template>
              </ng-template>

            <!-- Runtime Null Check -->
            <div *ngIf="this.mediaDetails.doesRuntimeExist(); then thenBlock_Runtime_NullCheck"></div>
              <ng-template #thenBlock_Runtime_NullCheck>
                <!-- Do we have more than 1 Runtime? -->
                <div *ngIf="this.mediaDetails.Runtime.length>1; then thenBlock_Runtime_multiple else elseBlock_Runtime_multiple"></div>
                  <ng-template #thenBlock_Runtime_multiple>
                    <li>Runtime:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.Runtime">{{item.Version}}: <br>{{item.Runtime}} minutes</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_Runtime_multiple>
                    <li>Runtime: {{this.mediaDetails.Runtime[0].Runtime}} minutes</li>
                  </ng-template>
              </ng-template>

            <!-- MovieDetails Null Check -->
            <div *ngIf="this.movieDetails; then thenBlock_OriginalRuntime_NullCheck"></div>
              <ng-template #thenBlock_OriginalRuntime_NullCheck>
              <!-- Verify we have at least 1 movie -->
              <div *ngIf="this.movieDetails.length > 0; then thenBlock_OriginalRuntime"></div>
                <ng-template #thenBlock_OriginalRuntime>
                  <!-- Check for 1 or more movies -->
                  <div *ngIf = "this.movieDetails.length > 1 then thenBlock_OriginalRuntime_movieLength else elseBlock_OriginalRuntime_movieLength"></div>
                    <!-- More than 1 movie -->
                    <ng-template #thenBlock_OriginalRuntime_movieLength>
                      <!-- Checks that at least 1 movie has a runtime -->
                      <li *ngIf = "this.doesHaveRuntimes()">Original Runtime:
                        <ul>
                          <div *ngFor = "let item of this.movieDetails">
                            <li *ngIf = "item.Runtime">{{item.OfficialTitle}}: <br>{{item.Runtime}} minutes</li>
                          </div>
                        </ul>
                      </li>
                    </ng-template>
                    <!-- Only 1 movie -->
                    <ng-template #elseBlock_OriginalRuntime_movieLength>
                      <li *ngIf = "this.movieDetails[0].Runtime">Original Runtime: {{this.movieDetails[0].Runtime}} minutes</li>
                    </ng-template>
                </ng-template>
              </ng-template>
            <!-- Color Null Check -->
            <div *ngIf="this.mediaDetails.doesColorExist(); then thenBlock_Color_NullCheck"></div>
              <ng-template #thenBlock_Color_NullCheck>
                <!-- Do we have more than 1 unique color? -->
                <div *ngIf="this.mediaDetails.getHasDifferentColors(); then thenBlock_Color_multiple else elseBlock_Color_multiple"></div>
                  <ng-template #thenBlock_Color_multiple>
                    <li>Color:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.Color">{{item.Version}}: <br>{{item.Color}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_Color_multiple>
                    <li>Color: {{this.mediaDetails.Color[0].Color}}</li>
                  </ng-template>
              </ng-template>
            <div *ngIf="this.mediaDetails.ChapterStops; then thenBlock_Chapter_NullCheck"></div>
              <ng-template #thenBlock_Chapter_NullCheck>
                <div *ngIf="this.mediaDetails.ChapterStops.length>1; then thenBlock_Chapter else elseBlock_Chapter"></div>
                <ng-template #thenBlock_Chapter>
                  <li *ngIf="this.mediaDetails.ChapterStops">Chapter Stops:
                    <ul>
                      <li *ngFor = "let item of mediaDetails.ChapterStops">{{item.Version}}: <br>{{item.Count}}</li>
                    </ul>
                  </li>
                </ng-template>
                <ng-template #elseBlock_Chapter>
                  <li *ngFor = "let item of mediaDetails.ChapterStops">Chapter Stops: {{item.Count}}</li>
                </ng-template>
              </ng-template>
            <li *ngIf="this.mediaDetails.AudioTracksDetails">Audio Tracks:
              <ul>
                <li *ngFor = "let item of mediaDetails.AudioTracksDetails">{{item}}</li>
              </ul>
            </li>
            <li *ngIf="this.mediaDetails.SubtitlesDetails">Subtitles:
              <ul>
                <li *ngFor = "let item of mediaDetails.SubtitlesDetails">{{item}}</li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div class="right-information">
        <div>
          <h4>Purchase Now:</h4>
          <div *ngIf="mediaDetails.PurchaseLinks; then thenBlock_Purchase_NullCheck else elseBlock_Purchase_NullCheck"></div>
            <ng-template #thenBlock_Purchase_NullCheck>
            <div *ngIf="mediaDetails.PurchaseLinks.length > 0; then thenBlock_Purchase else elseBlock_Purchase"></div>
              <ng-template #thenBlock_Purchase>
                <ul>
                  <li *ngFor = "let item of mediaDetails.PurchaseLinks"><a [href]="item.Link" target="_blank">{{item.Vendor}}</a></li>
                </ul>
              </ng-template>
              <ng-template #elseBlock_Purchase>
                <ul>
                  <li>Sorry, this item is Out of Print.</li>
                </ul>
              </ng-template>
            </ng-template>
            <ng-template #elseBlock_Purchase_NullCheck>
              <ul>
                <li>Sorry, this item is Out of Print.</li>
              </ul>
            </ng-template>
        </div>
        <div>
          <h4>Media Information:</h4>
          <ul>
            <!-- Medium Null Check -->
            <div *ngIf="this.mediaDetails.doesMediumExist(); then thenBlock_Medium_NullCheck"></div>
              <ng-template #thenBlock_Medium_NullCheck>
                <!-- Do we have more than 1 medium? -->
                <div *ngIf="this.mediaDetails.Medium.length>1; then thenBlock_Medium_multiple else elseBlock_Medium_multiple"></div>
                  <ng-template #thenBlock_Medium_multiple>
                    <li>Medium:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.Medium">{{item}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_Medium_multiple>
                    <li>Medium: {{this.mediaDetails.Medium[0]}}</li>
                  </ng-template>
              </ng-template>

            <!-- Format Details Null Check -->
            <div *ngIf="this.mediaDetails.doesFormatExist(); then thenBlock_Format_NullCheck"></div>
              <ng-template #thenBlock_Format_NullCheck>
                <!-- Do we have more than 1 format? -->
                <div *ngIf="this.mediaDetails.Format.length>1; then thenBlock_Format_multiple else elseBlock_Format_multiple"></div>
                  <ng-template #thenBlock_Format_multiple>
                    <li>Format Details:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.Format">{{item.Medium}}: {{item.Format}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_Format_multiple>
                    <li *ngIf="this.mediaDetails.Format[0].Format">Format Details: {{this.mediaDetails.Format[0].Format}}</li>
                  </ng-template>
              </ng-template>

            <!-- MediumCount Null Check -->
            <div *ngIf="this.mediaDetails.doesMediumCountExist(); then thenBlock_MediumCount_NullCheck"></div>
              <ng-template #thenBlock_MediumCount_NullCheck>
                <!-- Do we have more than 1 medium count? -->
                <div *ngIf="this.mediaDetails.MediumCount.length>1; then thenBlock_MediumCount_multiple else elseBlock_MediumCount_multiple"></div>
                  <ng-template #thenBlock_MediumCount_multiple>
                    <li>Medium Count:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.MediumCount">{{item.Medium}}: {{item.Count}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_MediumCount_multiple>
                    <li>{{this.mediaDetails.Medium}} Count: {{this.mediaDetails.MediumCount[0].Count}}</li>
                  </ng-template>
              </ng-template>

            <!-- Region Null Check -->
            <div *ngIf="this.mediaDetails.doesRegionExist(); then thenBlock_Region_NullCheck"></div>
              <ng-template #thenBlock_Region_NullCheck>
                <!-- Do we have more than 1 Region? -->
                <div *ngIf="this.mediaDetails.Region.length>1; then thenBlock_Region_multiple else elseBlock_Region_multiple"></div>
                  <ng-template #thenBlock_Region_multiple>
                    <li>Region:
                      <ul>
                        <li *ngFor="let item of this.mediaDetails.Region">{{item.Medium}}: {{item.Region}}</li>
                      </ul>
                    </li>
                  </ng-template>
                  <ng-template #elseBlock_Region_multiple>
                    <li>Region: {{this.mediaDetails.Region[0].Region}}</li>
                  </ng-template>
              </ng-template>

            <li *ngIf="this.mediaDetails.Country">Release Country: {{this.mediaDetails.Country}}</li>
            <li *ngIf="this.mediaDetails.ColorSystem">Color System: {{this.mediaDetails.ColorSystem}}</li>
          </ul>
        </div>
        <div>
          <h4>Distributor Information:</h4>
          <ul>
            <li *ngIf="this.mediaDetails.Distributor">Distributor: {{this.mediaDetails.Distributor}}</li>
            <li *ngIf="this.mediaDetails.CatalogCode">Catalog Code: {{this.mediaDetails.CatalogCode}}</li>
            <li *ngIf="this.mediaDetails.UPC">UPC: {{this.mediaDetails.UPC}}</li>
            <div *ngIf="this.mediaDetails.ReleaseDate then thenBlock_ReleaseDate_Date else elseBlock_ReleaseDate_Date"></div>
              <ng-template #thenBlock_ReleaseDate_Date>
                <li>Release Date: {{this.mediaDetails.ReleaseDate | date:'MMMM d, yyyy'}}</li>
              </ng-template>
              <ng-template #elseBlock_ReleaseDate_Date>
                <li>Release Date: {{this.mediaDetails.CircaRelease}}</li>
              </ng-template>
          </ul>
        </div>
        <div>
          <h4>Movie Information:</h4>
          <div *ngIf="this.movieDetails; then thenBlock_MovieDetails_NullCheck"></div>
            <ng-template #thenBlock_MovieDetails_NullCheck>
            <div *ngIf="this.movieDetails.length > 0; then thenBlock_MovieDetails"></div>
              <ng-template #thenBlock_MovieDetails>
                <ul>
                  <li *ngFor = "let item of this.movieDetails"><a [routerLink]="['/movies', item.Path]">{{item.OfficialTitle}}</a></li>
                </ul>
              </ng-template>
            </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="mediaDetails.ScreencapDescriptions">
    <div><h2>{{mediaDetails.Medium}} Image Gallery</h2></div>
    <app-media-gallery
      #mediaGallery
      [images]="imageGallery"
      [videoIds]="videoGallery"
      [numberOfImages]="mediaDetails.ScreencapDescriptions.length">
    </app-media-gallery>
  </div>

  <div class="media-review">
    <div *ngIf="mediaDetails.OriginalRelease; then thenBlock_OriginalRelease_NullCheck else elseBlock_OriginalRelease_NullCheck"></div>
    <ng-template #thenBlock_OriginalRelease_NullCheck>
      <div><h2>{{mediaDetails.Medium}} Re-release Information</h2></div>
        This {{mediaDetails.Medium}} is a re-release,
        <a [routerLink]="['/media', mediaDetails.OriginalRelease]">click here</a>
        to see the review for the original release.
    </ng-template>
    <ng-template #elseBlock_OriginalRelease_NullCheck>
      <div *ngIf="this.mediaReview">
        <div><h2>{{mediaDetails.Medium}} Review</h2></div>
        <div *ngIf="this.mediaReview.Overview">
          <div><h3>Overview</h3></div>
          <div>{{this.mediaReview.Overview}}</div>
          <img class="media-review-img" [src]="getFeaturedScreenCapAtIndex(0)" (click)="openGallery(getFeaturedScreenCapAtIndex(0))">
        </div>
        <div *ngIf="this.mediaReview.Video && this.mediaReview.Video[0]">
          <div *ngIf="this.mediaReview.Video[0].Score"><h3>Video: {{this.mediaReview.Video[0].Score}}/5</h3></div>
          <div *ngIf="this.mediaReview.Video[0].Description">{{this.mediaReview.Video[0].Description}}</div>
          <img class="media-review-img" [src]="getFeaturedScreenCapAtIndex(1)" (click)="openGallery(getFeaturedScreenCapAtIndex(1))">
        </div>
        <div *ngIf="this.mediaReview.Audio && this.mediaReview.Audio[0]">
          <div *ngIf="this.mediaReview.Audio[0].Score"><h3>Audio: {{this.mediaReview.Audio[0].Score}}/5</h3></div>
          <div *ngIf="this.mediaReview.Audio[0].Description">{{this.mediaReview.Audio[0].Description}}</div>
          <img class="media-review-img" [src]="getFeaturedScreenCapAtIndex(2)" (click)="openGallery(getFeaturedScreenCapAtIndex(2))">
        </div>
        <div *ngIf="this.mediaReview.Extras && this.mediaReview.Extras[0]">
          <div *ngIf="this.mediaReview.Extras[0].Score"><h3>Extras: {{this.mediaReview.Extras[0].Score}}/5</h3></div>
          <div *ngIf="this.mediaReview.Extras[0].Description">{{this.mediaReview.Extras[0].Description}}</div>
          <img class="media-review-img" [src]="getFeaturedScreenCapAtIndex(3)" (click)="openGallery(getFeaturedScreenCapAtIndex(3))">
        </div>
        <div *ngIf="this.mediaReview.Overall && this.mediaReview.Overall[0]">
          <div *ngIf="this.mediaReview.Overall[0].Score"><h3>Overall: {{this.mediaReview.Overall[0].Score}}/5</h3></div>
          <div *ngIf="this.mediaReview.Overall[0].Description">{{this.mediaReview.Overall[0].Description}}</div>
          <img class="media-review-img" [src]="getFeaturedScreenCapAtIndex(4)" (click)="openGallery(getFeaturedScreenCapAtIndex(4))">
        </div>
      </div>
    </ng-template>
  </div>
</div>

<app-not-found *ngIf="this.pageNotFound"></app-not-found>