@import '../../globals.scss';

.movie-details-root {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;
}

.movie-information {
  display: inline-block;
  vertical-align: top;
}

.movie-information div {
  display: inline-block;
}

.movie-poster {
  display: inline-block;
  margin-right: 50px;
}