@import '../../sassisms.scss';;

.movie-details-root {
  margin-left: $desktop-gutter;
  margin-right: $desktop-gutter;

  .desktop-only {
    display: block;
  }
}

.mobile-alt-countries {
  display: none;
}

.movie-information {
  display: inline-block;
  vertical-align: top;
}

.movie-information div {
  display: inline-block;
}

.movie-poster {
  display: inline-block;
  margin-right: 50px;
}

.movie-cast-crew-left {
  display: inline-block;
  width: 40%;
  margin-right: 20px;
}

.movie-cast-crew-right {
  display: inline-block;
  width: 40%;
}

.movie-alt-cast-crew {
  width: auto;
  padding-left: 5px;
}

.movie-alt-iterations {
  div {
    ul {
      margin-left: -15px;
    }
  }
}