@import '../../sassisms.scss';;

$mobile-gutter: 40px;

.movie-details-root {
  margin-top: $below-header;
  margin-bottom: $mobile-gutter;
  margin-left: $mobile-gutter;
  margin-right: $mobile-gutter;

  a {
    text-decoration: none;
  
    &:link, &:visited, &:hover, &:active {
      border-bottom: 1px solid #67c9ff;
    }
  }

  .desktop-only {
    display: none;
  }
}

.mobile-alt-countries {
  width: 100%;
}

.movie-details-root h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.movie-details-title h3 {
  margin-left: 15px;
}

.movie-information {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.movie-information {
  justify-content: center;
}

.movie-poster {
  display: flex;
  width: 100%;
  justify-content: center;
}

.movie-poster img {
  width: 100%;
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  margin-bottom: 15px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  margin: 0px;
}

.movie-cast-crew-left {
  width: auto;
  vertical-align: top;
}

.movie-cast-crew-right {
  width: auto;
  vertical-align: top;
}

.movie-alternate-versions {
  width: auto;
  vertical-align: top;
}

.movie-alt-countries {
  padding-left: 10px;
  padding-right: 10px;
}

.movie-alt-country {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px 10px 0px 0px;
  background-color: $tertiary-background;
  cursor: pointer;

  h4 {
    margin-top: 5px;
  }
}

.active {
  background-color: $secondary-background;
}

.movie-alt-details {
  background-color: $secondary-background;
  padding: 20px 10px 10px 20px;
}

.movie-alt-version-details {
  margin-bottom: 10px;
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: -5px;
  }
}

.movie-alt-cast-crew {
  display: block;
  margin-top: 10px;
}

.movie-alt-iterations {
  padding-top: 10px;
  padding-left: 10px;
  div {
    ul {
      margin-left: -30px;
    }
  }
}

.movie-alt-iterations-header {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  margin-left: -5px;
}
