@import '../../globals.scss';

.movie-details-root {
  margin-bottom: $tablet-gutter;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;
}

.movie-information {
  display: flex;
  justify-content: center;
}

.movie-poster {
  width: auto;
}

.movie-cast-crew-left {
  width: 100%;
}

.movie-cast-crew-right {
  width: 100%;
}