@import '../../sassisms.scss';;

.movie-details-root {
  margin-bottom: $tablet-gutter;
  margin-left: $tablet-gutter;
  margin-right: $tablet-gutter;

  .tablet-and-up {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}

.mobile-alt-countries {
  display: none;
}

.movie-information {
  display: flex;
  justify-content: center;
}

.movie-poster {
  width: auto;
}

.movie-cast-crew-left {
  width: 100%;
}

.movie-cast-crew-right {
  width: 100%;
}

.movie-alt-cast-crew {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}